.building_parameters {
background-color: #d0e4fe;
}

.member_select {
	background-color: #d0e4fe;
}

h2 {
color: red;
display: block;
font-size: 1em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0;
font-weight: bold;
display:inline;
}

 

